# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#IDE working directories
.idea/
.vscode

#build items
main
turl
resources/resources.go
.build/
build/
__debug_bin

.env

.DS_Store